{% extends 'base.html' %}
{% load static %}

{% block head %}
<style type="text/css">
	.username {
		display:inline-block;
		width:200px;
		font-weight: bold;
	}
</style>
{% endblock %}
{% block content %}
<div>
	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Friend</button>

	<div id='list'>
		{% for friend in friend_list %}
		<div class='row'>
			<div class='col-sm-6'>
				<span name='friend_name'>{{ friend.friend_name }}</span>
				<input type="hidden" name='friend_id' value={{friend.friend_id}}>
			</div>
			<div class='col-sm-2'><a href="#" name='delete'>delete</a></div>
		</div>
		{% endfor %}
	</div>

	<!-- friend search modal -->
	<div id="myModal" class="modal fade" role="dialog" tabindex="-1">
  		<div class="modal-dialog">

			<div class="modal-content">
	      		<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Search Friend</h4>
			        <form id="form-search">
			        	{% csrf_token %}
        				<input type="text" name="keyword">
        				<input type="submit" value="submit">
        			</form>
		      	</div>
      			<div class="modal-body">

      			</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
    		</div>
  		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
	
	$('#myModal').on('shown.bs.modal', function() {

		$("input[name='keyword']").val('').focus()

	})


	$('#form-search').on('submit', function(e) {
		data = $(this).serialize()
		
		$.ajax({
			type:'POST',
			url:"search/",
			data:data,
			dataType:'json',
			success: function(data) {

				$('.modal-body').html('')
				for(var key in data.user_list) {
					user_id = data.user_list[key]['id']
					username = data.user_list[key]['username']
					relation = data.user_list[key]['relation']

					line = "<p></p>"

					if (relation == 1) {
						/* When the user searched is current user.*/

						line = "<p><span class='username'>"+username+"</span></p>"
					} else if (relation == 2) {
						/* When the user searched is who current user already made a relationship with a*/

						line = "<p><span class='username'>"+username+"</span>My Friend</p>"
					} else if (relation == 3) {

						line = "<p><span class='username'>" + username + "</span><button class='btn btn-default' name='add'>Add</button><input type='hidden' name='user_id' value='" + user_id + "'></p>"
					}

					/*$(".username").addClass('username')*/
					$('.modal-body').append(line)
				}
			}
		})

		e.preventDefault()
	})

	
	$(document).on('click', "button[name='add']", function() {
		user1_id = {{request.user.id}}
		user2_id = $(this).parent().find('input:hidden').val()
		user2_name = $(this).parent().find('span.username').text()
		action_user = user1_id
		
		msg = "add " + user2_name + "?"
		if (!confirm(msg))
			return false

		data = {
			'user1_id':user1_id,
			'user2_id':user2_id,
			'action_user':action_user,
		}

		$.ajax({
			type:'POST',
			url:'add/',
			data:data,
			beforeSend:function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
			},
			success:function() {
				alert("Friend added : " + user2_name)
			}
		})
	})


	$("a[name='delete']").on('click', function() {
		
		friend_id = $(this).parent().parent().find("input[name='friend_id']").val()
		friend_name = $(this).parent().parent().find("[name='friend_name']").text()

		if (!confirm('remove?'))
			return false;

		$.ajax({
			type:"POST",
			url:'delete/',
			data:{'friend_id':friend_id,},
			dataType:'json',
			beforeSend:function(xhr) {
				xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'))
			},
			success:function(data) {
				if (data.result == 'success') {
					alert("user '" + friend_name + "' has just been delete from your friend list")
				} else if (data.result == 'failed') {
					alert("error")
				}
			}

		})
	})

</script>
{% endblock %}