{% extends 'user/mypage_base.html' %}

{% block mypage %}
<div>
	<div>Password Confirmation</div>
	<form method="POST" id="password_form">
		{% csrf_token %}
		<div id='msgbox'></div>
		<div>
			<label>ID</label>
			<span>{{ user.username }}</span>
			<input type="hidden" name="username" value={{ user.username }}>
		</div>
		<div>
			<label>Password</label><input type="password" name="password">
			<input type="hidden" name="next" value={{next}}>	
		</div>
		<div>
			<input type="submit" name="" value="submit">	
		</div>
		
	</form>
</div>
{% endblock %}